/* header.component.css */
.header {
  
    position: fixed;
    background-color: #2f5596; 
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    top: 10px;
    width: 1480px;
    height: -10px;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2rem;
  }

  .header img {
    margin-right: 1390px;
    width: 75px;
    height: 37,5px;
  }
  
